@import url('../reset.css');

/* common */
body{
    background-color: #353b48;
    text-align: center;
    color : #fff;
}
canvas{
    display: block;
    margin: 0 auto;
}
i{
    color : #fff;
    display: none;
}


/* size container */
.size-container{
    margin: 5vw 0 1vw 0;
}
.size-container span{
    font-size : 2rem;
}
.size-container input{
    width : 100px;
    outline: none;
    border : none;
    background-color: transparent;
    font-size: 2.6rem;
    text-align: center;
    color : #fff;
}


/* switch */
.switch {
    display: inline-block;
    position: relative;
    top : -17px;
    width: 60px;
    height: 30px;
    margin-right: 15px;
  }
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.switch .checked + .toggle {
    background-color: #1e90ff;
}
.switch .checked + .toggle:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4b6584;
    -webkit-transition: .4s;
    transition: .4s;
}
.toggle:before {
    position: absolute;
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    content: '';
}
.toggle.round {
    border-radius: 34px;
}
.toggle.round:before {
    border-radius: 50%;
}


/* color container */
.color-container{
    margin : 2vw 0 1vw 0;
    user-select:none;
}
.color-container .palette-wrapper{
    display: inline-block;
    position: relative;
}


/* default colors */
.default-colors{
    display: inline-block;
    cursor: pointer;
    width : 30px;
    height : 30px;
    border : 1px solid #fff;
    border-radius: 5px;
}
.default-colors:nth-child(10){
    background: linear-gradient(#3867d6, #0fb9b1, #8854d0);
}


/* palette modal */
.palette-modal{
    display: none;
    position: absolute;
    top : -75px;
    right : -65px;
    width : 155px;
    height: 55px;
    border: 5px solid #fff;
    border-radius: 5px;
}
.palette-modal:before{
    position: absolute;
    top : 50px;
    right: 65px;
    content: '';
    border-style: dashed dashed solid;
    border-width: 0 10px 10px;
    border-color: transparent;
    border-bottom-color: #fff;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.palette-modal .colors{
    display: inline-block;
    cursor: pointer;
    width : 25px;
    height : 25px;
    margin : -2px;
}
.palette-modal .colors:nth-child(1){
    border-radius: 3px 0 0 0;
}
.palette-modal .colors:nth-child(6){
    border-radius: 0 3px 0 0;
}
.palette-modal .colors:nth-child(7){
    border-radius: 0 0 0 3px;
}
.palette-modal .colors:nth-child(12){
    border-radius: 0 0 3px 0;
}


/* text container */
.text-container{
    height: 40px;
    margin-bottom : 2vw;
}
.text-container select{
    width : 120px;
    height: 40px;
    padding : 0 7px;
    outline: none;
    border : 1px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    font-size : 1.8rem;
    color : #fff;
}
.text-container option{
    font-size : 1.6rem;
    color : #000;
}
.text-container form{
    display: inline-block;
}
.text-container input{
    width : 400px;
    height: 33px;
    margin: 0 40px 0 15px;
    outline: none;
    border: none;
    border-bottom : 1px solid #fff;
    background-color: transparent;
    font-size : 1.8rem;
    line-height: 44px;
    text-align: center;
    color : #fff;
}


/* btn container */
.btn-container button{
    cursor: pointer;
    width : 200px;
    height: 45px;
    margin : 0 .3vw;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #2d98da;
    font-size : 1.8rem;
    color: #fff;
}
.btn-container button:first-child{
    background-color: #fff;
    color : #2d98da;
}


/* icon */
.icon-fontsize{
    position: absolute;
    top : 4px;
    right: 9px;
    bottom: 0;
    font-size :1.5rem;

}
.icon-brush{
    position: absolute;
    top : 3px;
    left: 5px;
    bottom: 0;
    font-size :1.5rem;
}
.icon-trash{
    display: inline-block;
    font-size : 1.6rem;
    color : #2d98da;
}
.icon-download{
    display: inline-block;
    font-size : 1.6rem;
}


/* ect */
.showing{
    display: block;
}
