@import url("reset.css");

.container{
    margin: 5vw auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width : 50vw;
    height: 70vw;
    background-color : #fff599;
}


.hide{
    display : none;
}

.showing{
    color : red;
    /* display : block; */
}