@import url("reset.css");

/* common */
body{
    font-family: 'Nanum Pen Script', cursive;
    background-color : #f6e58d;
}


/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px) {
    /* common */
    body{
        font-size : 2.2rem;
    }
    input{
        display: block;
        width : 85vw;
        height : 7vw;
        margin : 1.5rem auto 2.5rem auto;
        font-size: 1.5rem;
        padding : 1rem;
        border: none;
        outline: none;
    }
    button{
        padding : 0;
    }

    /* all */
    .container{
        width : 90vw;
        margin: 0 auto;
    }
    .title{
        padding : 8vw 0 0 2vw;
        font-size : 3rem;
    }


    /* todo container */
    .todo-container{
        position: relative;
    }


    /* todo-bar */
    .todo-bar{
        font-size : 2rem;
        position: relative;
        width : 90vw;
        padding-bottom : .5rem;
        margin: 0 auto;
        text-align: center;
        border-bottom: 2px solid black;
    }
    .todo-bar span:first-child{
        position: absolute;
        left: 2vw;
    }
    .todo-bar span:last-child{
        position: absolute;
        right : 2vw;
    }


    /* todolist */
    .todo-list{
        position: relative;
        width : 90vw;
        height : 100%;
        margin : 0 auto;
    }
    .todo-list li{
        position: relative;
        text-align: center;
        width : 100%;
        min-height : 10vw;
        display: block;
        border-bottom : 1px solid black;
    }
    .todo-list span{
        display: inline-block;
        text-align: left;
        width : 70vw;
        height: 100%;
        padding : 1.5vw 0 1.5vw 2.5vw;
    }
    .complete-btn{
        position: absolute;
        font-size : 2.2rem;
        left : 0;
        width : 10vw;
        height: 100%;
        background: transparent;
        border : none;
        border-right : 1px solid red;
        outline: none;
        -webkit-outline: none;
    }
    .delete-btn{
        position: absolute;
        background: transparent;
        right : 0;
        width : 10vw;
        height : 100%;
        border : none;
        outline : none;
        -webkit-outline: none;
    }


    /* ect */
    .clear{
        position: absolute;
        right : 2vw;
        border : none;
        background : transparent;
        margin : 1rem 0;
        font-family: 'Nanum Pen Script', cursive;
        font-size : 2rem;
        opacity: 0.5;
        outline: none;
    }
    .reset{
        position: absolute;
        left : 2vw;
        border : none;
        background : transparent;
        margin : 1rem 0;
        font-family: 'Nanum Pen Script', cursive;
        font-size : 2rem;
        opacity: 0.5;
        outline: none;
    }

}


/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {

}


/* PC (해상도 1024px)*/
@media all and (min-width:1024px) {

}

/* js controll */
.hide{
    display : none;
    z-index: -100;
}