@import url("./reset.css");

body {
  background: #000;
  color : #fff;
  text-align: center;
}

.center{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.weather-container{
  position : absolute;
  right : 0;
  top : 0;
  padding : 1rem 1rem 0 0;
  text-align: right;
}

.weather-container > span:nth-child(1){
  font-weight: 400;
  font-size : 1.5rem;
}

.clock-title{
  font-size : 5rem;
  margin: 0;
}

.greeting-title{
  margin-top : 0;
}

.input-text {
  width: 100%;
  padding-top: .4em;
  background: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: #fff;
  font-size : 1.8rem;
  color: #fff;
  text-align: center;
  animation: fadeIn .5s linear;
}

.input-text:focus {
  outline: none;
}

.todo-title{
  margin : 0;
  font-weight: normal;
}

.todo-ul{
  padding : 0;
  animation: fadeIn .5s linear;
}

.todo-list{
  list-style: none;
  padding : .2em;
  font-size : 1.8rem;
  animation: fadeIn .5s linear;
}

.checkBtn{
  background: none;
  border: 2px solid #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 20%;
  text-align: center;
  font-size: 1rem;
  color: #fff;
  vertical-align: middle;
  margin-right: .5em;
  margin-top: -.5em;
  cursor: pointer;
  padding: 0 .1em .1em .1em;
}

.checkBtn:hover:before {
  content:"✔";
}

/* js관련 */
.form,
.greeting,
.clock,
.todo,
.weather,
.place {
  display: none;
}

.showing {
  display: block;
}

@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.bgimg{
  background-size: cover;
  animation: fadeIn .5s linear;
}

/* js관련 */



