@import url('../reset.css');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');


/* public Common */
body{
    overflow: hidden;
    background : #333;
    font-family: 'Press Start 2P', cursive;
}
button{
    font-family: 'Press Start 2P', cursive;
}


/* container */
.container{
    width : 100vw;
    height : 100vw;
    margin: 0 auto;
    text-align: center;
}

/* title */
.title{
    color: #F5F876;
}

/* modal */
.modal{
    display: none;
    position: absolute;
    user-select: none;
    z-index : 3;
    background: #333;
    color : #fff;
}
.modal p{
    margin: 0 auto;
}
.modal-count{
    color: #F5F876;
}


/* hole */
.hole-container{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin: 0 auto;
}
.hole{
    position: relative;
    background-image : url(img/hole.jpg);
    background-size : contain;
}


/* mole */
.mole{
    display : none;
    position: relative;
    z-index : 2 !important;
    cursor: pointer;
    animation: shake 0.6s infinite;
}


/* btn-container */
.btn-container{
    background : #4F4D4F;
    text-align: center;
}
.btn-container p{
    font-weight: bold;
    color : #fff;
}
.btn-container .count{
    color : #F5F876;
}
.start-btn{
    cursor: pointer;
    outline : none;
    border : none;
    background: #333;
    color : #fff;
}
.start-btn:hover{
    color: #F5F876;
}
.btn-active{
    cursor : auto !important;
    color : #3E3F41 !important;
}


/* js */
.active{
    display : block !important;
}


/* animation */
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}


/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px) {
    /* title */
    .title{
        margin: 24vw 0 6vw 0;
        font-size: 2.4rem;
    }

    /* modal */
    .modal{
        top : 10vw;
        left : 10vw;
        width : 58vw;
        height : 58vw;
        border-radius: 5vw;
    }
    .modal p{
        width : 30vw;
    }
    .modal p:first-child{
        margin-top : 14vw;
        font-size : 2.2rem;
        line-height: 3.2rem;
    }
    .modal-count{
        margin-top : 4vw !important;
        font-size: 3.4rem;
    }


    /* hole */
    .hole-container{
        width : 78vw;
        height : 78vw;
    }
    .hole{
        width : 26vw;
        height : 26vw;
    }
    .hole:nth-child(2){
        border-radius : 5vw 0 0 0;
    }
    .hole:nth-child(4){
        border-radius : 0 5vw 0 0;
    }
    .hole:nth-child(8){
        border-radius : 0 0 0 5vw;
    }
    .hole:nth-child(10){
        border-radius : 0 0 5vw 0;
    }


    /* mole */
    .mole{
        top : -2vw;
        width : 25vw !important;
        height : 25vw !important;
    }


    /* btn-container */
    .btn-container{
        width : 85vw;
        height : 35vw;
        margin : 6vw auto 0 auto;
        border-radius: 3vw;
    }
    .btn-container p{
        padding-top: 8vw;
        font-size : 1.8rem;
    }
    .start-btn{
        width : 70vw;
        height : 12vw;
        margin-top : 5vw;
        border-radius: 2vw;
        font-size : 1.5rem;
    }
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
    /* title */
    .title{
        margin: 10vw 0 5vw 0;
        font-size: 3.6rem;
    }

    /* modal */
    .modal{
        top : 9vw;
        left : 9vw;
        width : 51vw;
        height : 51vw;
        border-radius: 5vw;
    }
    .modal p{
        width : 25vw;
    }
    .modal p:first-child{
        margin-top : 13vw;
        font-size : 3.6rem;
        line-height: 5rem;
    }
    .modal-count{
        margin-top : 4vw !important;
        font-size: 6rem;
    }


    /* hole */
    .hole-container{
        width : 69vw;
        height : 69vw;
    }
    .hole{
        width : 23vw;
        height : 23vw;
    }
    .hole:nth-child(2){
        border-radius : 5vw 0 0 0;
    }
    .hole:nth-child(4){
        border-radius : 0 5vw 0 0;
    }
    .hole:nth-child(8){
        border-radius : 0 0 0 5vw;
    }
    .hole:nth-child(10){
        border-radius : 0 0 5vw 0;
    }


    /* mole */
    .mole{
        top : -1.7vw;
        width : 22vw !important;
        height : 22vw !important;
    }


    /* btn-container */
    .btn-container{
        width : 78vw;
        height : 28vw;
        margin : 5vw auto 0 auto;
        border-radius: 3vw;
    }
    .btn-container p{
        padding-top: 5vw;
        font-size : 2.7rem;
    }
    .start-btn{
        width : 65vw;
        height : 12vw;
        margin-top : 5vw;
        border-radius: 2vw;
        font-size : 2.5rem;
    }
}

/* PC (해상도 1024px)*/
@media all and (min-width:1024px) {
    /* title */
    .title{
        margin: 3.5vw 0 2vw 0;
        font-size: 2.4rem;
    }

    /* modal */
    .modal{
        top : 6vw;
        left : 4vw;
        width : 16vw;
        height : 12vw;
        padding : 2.4vw 0;
        border-radius: 1vw;
    }
    .modal p{
        width : 10vw;
    }
    .modal p:first-child{
        font-size : 1.8rem;
        line-height: 2.4rem;
    }
    .modal-count{
        margin-top : 1vw !important;
        font-size: 2.6rem;
    }


    /* hole */
    .hole-container{
        width : 24vw;
        height : 24vw;
    }
    .hole{
        width : 8vw;
        height : 8vw;
    }
    .hole:nth-child(2){
        border-radius : 2vw 0 0 0;
    }
    .hole:nth-child(4){
        border-radius : 0 2vw 0 0;
    }
    .hole:nth-child(8){
        border-radius : 0 0 0 2vw;
    }
    .hole:nth-child(10){
        border-radius : 0 0 2vw 0;
    }


    /* mole */
    .mole{
        top : -.6vw;
        width : 7.7vw !important;
        height : 7.7vw !important;
    }


    /* btn-container */
    .btn-container{
        width : 28vw;
        height : 10vw;
        margin : 2vw auto 0 auto;
        border-radius: 1vw;
    }
    .btn-container p{
        padding-top: 1.8vw;
        font-size : 1.8rem;
    }
    .start-btn{
        width : 20vw;
        height : 3.5vw;
        margin-top : 1.2vw;
        border-radius: .8vw;
        font-size : 1.5rem;
    }
 }
