@import "reset.css"; /* reset css를 가져옴 */
body{
    background-color : #f6f9fc;
    font-family : -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display : flex;
    flex-direction: column;
    align-items: center;
    padding : 50px 0;
}

.canvas{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.controls{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls .controls-range{
    margin-bottom : 20px;
}

.controls .controls-btns {
    margin-bottom: 20px;
}

.controls-btns button {
    all : unset;
    cursor: pointer;
    background-color:#fff;
    padding : 5px 0;
    width : 70px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    color : rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
    font-weight: 700;
    font-size : 12px;
}

.controls-btns button:active{
    transform: scale(0.9);
}



.controls .controls-colors{
    display : flex;

}

.controls-colors .controls-color{
    width : 40px;
    height : 40px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
